@charset "UTF-8";

body{
    font-family: "Noto-sans";
}

 .list-form {
    font-size: 10px;
    padding: 10px;
 }

 /* 
 トグルボタン
  */

  .toggle-button {
    display: flex;
    justify-content: center;

  }
 .btn {
    margin-top: 50px;
    display: inline-block;
    font-size: 10px;
    width: 90px;
    border-radius: 50px;
    color: black;
}

.btn-primary {

    background-color: #D9D9D9;
}
.btn-secondary{
    background-color: #F4F4F4;
}

 /* 
 距離題名
  */
  .your-distance {
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-content: center;
    margin-top: 24px;
  }


 /*
  リストデザイン
   */
 .list-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
 }

 .star {
    margin-right: 10px;
 }

 .cafe-name>h2 {
    font-size: 18px;
 }

 .cafe-information {
    margin-top: 3px;
 }

 .cafe-time {
    margin-top: 3px;
 }

 .bookmark {
    text-decoration: none;
    color: black;
    margin-left: 90px;
 }

 /*
  cafeの画像 
  */
 .cafe-images {
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
    gap: 7px;
 }

 .bordered {
    border: solid 2px #CFCFCF; /* ソリッドの2pxのボーダー、色は #CFCFCF */
    padding: 10px; /* ボーダーと要素の間の余白 */
}

 
 /* ページネーション */
    .pagination {
        margin-top: 20px;
    }